
footer {
	background-image: url(../assets/pattern.png);
	background-color: #363636;
	background-position: top;

}

footer .wrapper {
	padding: 30px;
	text-align: center;
}

.copyright {
	margin: 0 auto;
	display: inline-block;
	img {
		width: 15px;
	}
}
.copyright p, .copyright img {
	display: inline-block;
	color: #939393;
}
